/.env.local
/apps/game/Library/
/apps/game/Temp/
/apps/game/Logs/
/apps/game/Obj/
/apps/game/UserSettings/
/builds/
/logs/
/node_modules/
**/node_modules/
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
!*.tfvars.example
*.p12
*.mobileprovision
*.key
.DS_Store

**/bin/
**/obj/
**/dist/
*.dylib
/apps/game/Assets/Resources/TownClientConfig.json*
